In [1]:
import pandas as pd
import numpy as np
N201_act = pd.DataFrame(
                [
                  ['id_RTA6NEM','20230102', 92],
                  ['id_RTA6NEM','20230103', 75],
                  ['id_RTA6NEM','20230104', 65],
                  ['id_RTA6NEM','20230105', 96],
                  ['id_RTA6NEM','20230106', 94],
                  ['id_RTA6NEM','20230107', 97],
                  ['id_RTA6NEM','20230108', 92],
                  ['id_RTA6NEM','20230109', 91],


                  ['id_OTc6RjQ', '20230102', 82],
                  ['id_OTc6RjQ','20230103', 65],
                  ['id_OTc6RjQ','20230104', 55],
                  ['id_OTc6RjQ','20230105', 86],
                  ['id_OTc6RjQ','20230106', 84],
                  ['id_OTc6RjQ','20230107', 87],
                  ['id_OTc6RjQ','20230108', 82],
                  ['id_OTc6RjQ','20230109', 81],
                ],
                   columns=['deviceId', 'Date', 'Act'])
print(N201_act)

      deviceId      Date  Act
0   id_RTA6NEM  20230102   92
1   id_RTA6NEM  20230103   75
2   id_RTA6NEM  20230104   65
3   id_RTA6NEM  20230105   96
4   id_RTA6NEM  20230106   94
5   id_RTA6NEM  20230107   97
6   id_RTA6NEM  20230108   92
7   id_RTA6NEM  20230109   91
8   id_OTc6RjQ  20230102   82
9   id_OTc6RjQ  20230103   65
10  id_OTc6RjQ  20230104   55
11  id_OTc6RjQ  20230105   86
12  id_OTc6RjQ  20230106   84
13  id_OTc6RjQ  20230107   87
14  id_OTc6RjQ  20230108   82
15  id_OTc6RjQ  20230109   81

In [3]:
N201_act.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   deviceId  16 non-null     object
 1   Date      16 non-null     object
 2   Act       16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes

In [5]:
N201_act_pivot = N201_act.pivot(index='deviceId', columns='Date', values='Act')
N201_act_pivot

Date,20230102,20230103,20230104,20230105,20230106,20230107,20230108,20230109
deviceId,,,,,,,,
id_OTc6RjQ,82,65,55,86,84,87,82,81
id_RTA6NEM,92,75,65,96,94,97,92,91

In [6]:
N201_act_pivot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, id_OTc6RjQ to id_RTA6NEM
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   20230102  2 non-null      int64
 1   20230103  2 non-null      int64
 2   20230104  2 non-null      int64
 3   20230105  2 non-null      int64
 4   20230106  2 non-null      int64
 5   20230107  2 non-null      int64
 6   20230108  2 non-null      int64
 7   20230109  2 non-null      int64
dtypes: int64(8)
memory usage: 144.0+ bytes

In [30]:
N201_act.pivot(index='deviceId', columns='Date', values='Act').melt()

        Date  value
0   20230102     82
1   20230102     92
2   20230103     65
3   20230103     75
4   20230104     55
5   20230104     65
6   20230105     86
7   20230105     96
8   20230106     84
9   20230106     94
10  20230107     87
11  20230107     97
12  20230108     82
13  20230108     92
14  20230109     81
15  20230109     91

In [8]:
import numpy as np
import pandas as pd

df2 = pd.read_csv('OTg6QzA_activities.csv')
df2.head()

                 timestamp   X   Y   Z
0  2022-01-01 00:01:40.363  33  76  56
1  2022-01-01 00:01:42.961  34  87  56
2  2022-01-01 00:01:45.562  25  89  47
3  2022-01-01 00:01:48.163  11  70  50
4  2022-01-01 00:02:08.864  33  72  58

In [15]:
df2.pivot(index='timestamp', columns='X' )

ValueError: Index contains duplicate entries, cannot reshape

In [8]:
import numpy as np
import pandas as pd

df1 = pd.read_csv('stackPerDevice_datetime.csv')
df1.head()

     deviceId        date   status  cnt
0  id_RTA6NEM  2022-09-01      ACT    5
1  id_RTA6NEM  2022-09-01  NOT_ACT    4
2  id_RTA6NEM  2022-09-01      ACT   10
3  id_RTA6NEM  2022-09-01  NOT_ACT    3
4  id_RTA6NEM  2022-09-01  NOT_ACT    8

In [9]:
df1.groupby(['deviceId','date', 'status'])['cnt']

In [10]:
df1.groupby(['deviceId','date', 'status'])['cnt'].count()

deviceId    date        status
id_OTc6RjQ  2022-09-01  ACT        31
                        NOT_ACT    14
            2022-09-02  ABSENCE     1
                        ACT        30
                        NOT_ACT     9
                                   ..
id_RTA6NEM  2022-09-27  NOT_ACT    21
            2022-09-28  ACT        17
                        NOT_ACT    29
            2022-09-29  ACT         3
                        NOT_ACT    18
Name: cnt, Length: 76, dtype: int64

In [11]:
df1.groupby(['deviceId','date', 'status'])[['cnt']].sum()

                               cnt
deviceId   date       status
id_OTc6RjQ 2022-09-01 ACT      808
                      NOT_ACT  211
           2022-09-02 ABSENCE    9
                      ACT      809
                      NOT_ACT   97
...                            ...
id_RTA6NEM 2022-09-27 NOT_ACT   82
           2022-09-28 ACT      363
                      NOT_ACT  316
           2022-09-29 ACT       40
                      NOT_ACT   91

[76 rows x 1 columns]

In [12]:
df1.groupby(['deviceId','date', 'status'])['cnt'].sum()

deviceId    date        status
id_OTc6RjQ  2022-09-01  ACT        808
                        NOT_ACT    211
            2022-09-02  ABSENCE      9
                        ACT        809
                        NOT_ACT     97
                                  ...
id_RTA6NEM  2022-09-27  NOT_ACT     82
            2022-09-28  ACT        363
                        NOT_ACT    316
            2022-09-29  ACT         40
                        NOT_ACT     91
Name: cnt, Length: 76, dtype: int64

In [13]:
df1.groupby(['deviceId','date', 'status'])['cnt'].sum().unstack()

status                 ABSENCE     ACT  NOT_ACT
deviceId   date
id_OTc6RjQ 2022-09-01      NaN   808.0    211.0
           2022-09-02      9.0   809.0     97.0
           2022-09-03      NaN   894.0     33.0
           2022-09-04      NaN   316.0    138.0
           2022-09-05      NaN   356.0    191.0
id_RTA6NEM 2022-09-01      NaN  2365.0    916.0
           2022-09-02     24.0  1860.0    964.0
           2022-09-03      NaN  1726.0    479.0
           2022-09-04      NaN  1951.0    237.0
           2022-09-05      NaN   302.0    141.0
           2022-09-06      NaN   687.0    434.0
           2022-09-07      NaN  1602.0    288.0
           2022-09-08      NaN  1345.0    509.0
           2022-09-09      3.0  1217.0    782.0
           2022-09-10     25.0  1508.0   1148.0
           2022-09-11      NaN  1058.0   1337.0
           2022-09-12      NaN  1338.0   1469.0
           2022-09-13     17.0  1950.0    855.0
           2022-09-14     25.0   925.0    907.0
           2022-09-15      8.0   171.0    279.0
           2022-09-16      8.0    90.0     23.0
           2022-09-17      NaN     9.0     15.0
           2022-09-19      NaN    44.0     74.0
           2022-09-20      NaN   904.0    653.0
           2022-09-21      1.0    39.0    101.0
           2022-09-22      NaN     NaN      5.0
           2022-09-23      4.0    84.0    213.0
           2022-09-24      NaN   316.0    122.0
           2022-09-25      1.0   175.0     69.0
           2022-09-26      NaN    25.0     13.0
           2022-09-27      NaN    96.0     82.0
           2022-09-28      NaN   363.0    316.0
           2022-09-29      NaN    40.0     91.0

In [14]:
pt = df1.pivot_table('cnt', index=['deviceId','date'], columns='status')
pt

status                   ABSENCE        ACT    NOT_ACT
deviceId   date
id_OTc6RjQ 2022-09-01        NaN  26.064516  15.071429
           2022-09-02   9.000000  26.966667  10.777778
           2022-09-03        NaN  35.760000   3.300000
           2022-09-04        NaN  16.631579  11.500000
           2022-09-05        NaN  32.363636  10.611111
id_RTA6NEM 2022-09-01        NaN  37.539683  19.083333
           2022-09-02  24.000000  46.500000  20.083333
           2022-09-03        NaN  37.521739  10.886364
           2022-09-04        NaN  38.254902   7.900000
           2022-09-05        NaN  11.615385   5.875000
           2022-09-06        NaN  24.535714  22.842105
           2022-09-07        NaN  47.117647  12.521739
           2022-09-08        NaN  34.487179  10.829787
           2022-09-09   3.000000  25.893617  16.291667
           2022-09-10  25.000000  36.780488  22.076923
           2022-09-11        NaN  30.228571  20.257576
           2022-09-12        NaN  25.245283  25.327586
           2022-09-13  17.000000  36.792453  14.741379
           2022-09-14   8.333333  34.259259  18.140000
           2022-09-15   4.000000  17.100000  13.950000
           2022-09-16   8.000000  18.000000   3.833333
           2022-09-17        NaN   4.500000   7.500000
           2022-09-19        NaN   8.800000  12.333333
           2022-09-20        NaN  33.481481  17.184211
           2022-09-21   1.000000  19.500000   4.809524
           2022-09-22        NaN        NaN   1.666667
           2022-09-23   4.000000  16.800000   7.607143
           2022-09-24        NaN  26.333333   5.809524
           2022-09-25   1.000000  43.750000   4.600000
           2022-09-26        NaN  25.000000   3.250000
           2022-09-27        NaN  24.000000   3.904762
           2022-09-28        NaN  21.352941  10.896552
           2022-09-29        NaN  13.333333   5.055556

In [15]:
pt = df1.pivot_table('cnt', index=['deviceId','date'], columns='status', aggfunc='sum')
pt

status                 ABSENCE     ACT  NOT_ACT
deviceId   date
id_OTc6RjQ 2022-09-01      NaN   808.0    211.0
           2022-09-02      9.0   809.0     97.0
           2022-09-03      NaN   894.0     33.0
           2022-09-04      NaN   316.0    138.0
           2022-09-05      NaN   356.0    191.0
id_RTA6NEM 2022-09-01      NaN  2365.0    916.0
           2022-09-02     24.0  1860.0    964.0
           2022-09-03      NaN  1726.0    479.0
           2022-09-04      NaN  1951.0    237.0
           2022-09-05      NaN   302.0    141.0
           2022-09-06      NaN   687.0    434.0
           2022-09-07      NaN  1602.0    288.0
           2022-09-08      NaN  1345.0    509.0
           2022-09-09      3.0  1217.0    782.0
           2022-09-10     25.0  1508.0   1148.0
           2022-09-11      NaN  1058.0   1337.0
           2022-09-12      NaN  1338.0   1469.0
           2022-09-13     17.0  1950.0    855.0
           2022-09-14     25.0   925.0    907.0
           2022-09-15      8.0   171.0    279.0
           2022-09-16      8.0    90.0     23.0
           2022-09-17      NaN     9.0     15.0
           2022-09-19      NaN    44.0     74.0
           2022-09-20      NaN   904.0    653.0
           2022-09-21      1.0    39.0    101.0
           2022-09-22      NaN     NaN      5.0
           2022-09-23      4.0    84.0    213.0
           2022-09-24      NaN   316.0    122.0
           2022-09-25      1.0   175.0     69.0
           2022-09-26      NaN    25.0     13.0
           2022-09-27      NaN    96.0     82.0
           2022-09-28      NaN   363.0    316.0
           2022-09-29      NaN    40.0     91.0

In [16]:
#melt
df1.melt(id_vars=['deviceId','date'], value_vars=['status'])

        deviceId        date variable    value
0     id_RTA6NEM  2022-09-01   status      ACT
1     id_RTA6NEM  2022-09-01   status  NOT_ACT
2     id_RTA6NEM  2022-09-01   status      ACT
3     id_RTA6NEM  2022-09-01   status  NOT_ACT
4     id_RTA6NEM  2022-09-01   status  NOT_ACT
...          ...         ...      ...      ...
1715  id_OTc6RjQ  2022-09-05   status  NOT_ACT
1716  id_OTc6RjQ  2022-09-05   status      ACT
1717  id_OTc6RjQ  2022-09-05   status  NOT_ACT
1718  id_OTc6RjQ  2022-09-05   status      ACT
1719  id_OTc6RjQ  2022-09-05   status      ACT

[1720 rows x 4 columns]

In [17]:
pt = df1.pivot_table(index=['deviceId','date'], columns='status', aggfunc={'cnt': sum, 'status': 'count'})

In [18]:
pt

                          cnt                  status
status                ABSENCE     ACT NOT_ACT ABSENCE   ACT NOT_ACT
deviceId   date
id_OTc6RjQ 2022-09-01     NaN   808.0   211.0     NaN  31.0    14.0
           2022-09-02     9.0   809.0    97.0     1.0  30.0     9.0
           2022-09-03     NaN   894.0    33.0     NaN  25.0    10.0
           2022-09-04     NaN   316.0   138.0     NaN  19.0    12.0
           2022-09-05     NaN   356.0   191.0     NaN  11.0    18.0
id_RTA6NEM 2022-09-01     NaN  2365.0   916.0     NaN  63.0    48.0
           2022-09-02    24.0  1860.0   964.0     1.0  40.0    48.0
           2022-09-03     NaN  1726.0   479.0     NaN  46.0    44.0
           2022-09-04     NaN  1951.0   237.0     NaN  51.0    30.0
           2022-09-05     NaN   302.0   141.0     NaN  26.0    24.0
           2022-09-06     NaN   687.0   434.0     NaN  28.0    19.0
           2022-09-07     NaN  1602.0   288.0     NaN  34.0    23.0
           2022-09-08     NaN  1345.0   509.0     NaN  39.0    47.0
           2022-09-09     3.0  1217.0   782.0     1.0  47.0    48.0
           2022-09-10    25.0  1508.0  1148.0     1.0  41.0    52.0
           2022-09-11     NaN  1058.0  1337.0     NaN  35.0    66.0
           2022-09-12     NaN  1338.0  1469.0     NaN  53.0    58.0
           2022-09-13    17.0  1950.0   855.0     1.0  53.0    58.0
           2022-09-14    25.0   925.0   907.0     3.0  27.0    50.0
           2022-09-15     8.0   171.0   279.0     2.0  10.0    20.0
           2022-09-16     8.0    90.0    23.0     1.0   5.0     6.0
           2022-09-17     NaN     9.0    15.0     NaN   2.0     2.0
           2022-09-19     NaN    44.0    74.0     NaN   5.0     6.0
           2022-09-20     NaN   904.0   653.0     NaN  27.0    38.0
           2022-09-21     1.0    39.0   101.0     1.0   2.0    21.0
           2022-09-22     NaN     NaN     5.0     NaN   NaN     3.0
           2022-09-23     4.0    84.0   213.0     1.0   5.0    28.0
           2022-09-24     NaN   316.0   122.0     NaN  12.0    21.0
           2022-09-25     1.0   175.0    69.0     1.0   4.0    15.0
           2022-09-26     NaN    25.0    13.0     NaN   1.0     4.0
           2022-09-27     NaN    96.0    82.0     NaN   4.0    21.0
           2022-09-28     NaN   363.0   316.0     NaN  17.0    29.0
           2022-09-29     NaN    40.0    91.0     NaN   3.0    18.0

In [19]:
pt.melt()

       None   status  value
0       cnt  ABSENCE    NaN
1       cnt  ABSENCE    9.0
2       cnt  ABSENCE    NaN
3       cnt  ABSENCE    NaN
4       cnt  ABSENCE    NaN
..      ...      ...    ...
193  status  NOT_ACT   15.0
194  status  NOT_ACT    4.0
195  status  NOT_ACT   21.0
196  status  NOT_ACT   29.0
197  status  NOT_ACT   18.0

[198 rows x 3 columns]

In [20]:
pd.qcut(df1['date'].drop_duplicates(), 10)
# df1.pivot_table('cnt', index=['deviceId','date'], columns='status', aggfunc='sum')

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
np.isnan(df1)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''