## 6.12. 문자열 다루기

In [1]:
import pandas as pd
pd.set_option('display.notebook_repr_html', False)

s = pd.Series(['tokyo', 'osaka', 'yamagata'])
s.str.extract(r'([to]+)')

    0
0  to
1   o
2   t

### 6.12.1. 정규표현식

In [2]:
import pandas as pd

s = pd.Series(['tokyo', 'osaka', 'yamagata'])
s.str.match('[a-z]')

0    True
1    True
2    True
dtype: bool

In [3]:
s = pd.Series(['tokyo2', 'osaka@', '1yamagata'])
s.str.match('[0-9]')

0    False
1    False
2     True
dtype: bool

In [4]:
# 아래와 같이, sum()함수로 매칭된 수를 구할 수도 있다.
s = pd.Series(['tokyo', 'osaka', '1yamagata'])
s.str.match('^[oa]').sum()

1

In [5]:
import pandas as pd
s = pd.Series(['tokyo', 'osaka', 'yamagata'])
s.str.extract(r'([to]+)')

    0
0  to
1   o
2   t

In [6]:
s = pd.Series(['tokyo', 'osaka', '1yamagata'])
s.str.findall('ga')

0      []
1      []
2    [ga]
dtype: object

In [7]:
s = pd.Series(['tokyo', 'osaka', '1yamagata'])
s.str.findall(r'^[a-z]+')

0    [tokyo]
1    [osaka]
2         []
dtype: object