In [77]:
import pandas as pd
import numpy as np

adams_act = pd.DataFrame(
                [
                  ['20230102', 92],
                  ['20230103', 65],
                  ['20230104', 96]
                ],
                   columns=['Date', 'Act'])


adams_breath = pd.DataFrame(
                [
                  ['20230102', 90],
                  ['20230103', 71],
                  ['20230104', 81]
                ],
                   columns=['Date', 'Breath'])
print(adams_act)
print(adams_breath)

       Date  Act
0  20230102   92
1  20230103   65
2  20230104   96
       Date  Breath
0  20230102      90
1  20230103      71
2  20230104      81

In [41]:
pd.concat([adams_act, adams_breath])

       Date   Act  Breath
0  20230102  92.0     NaN
1  20230103  65.0     NaN
2  20230104  96.0     NaN
0  20230102   NaN    90.0
1  20230103   NaN    71.0
2  20230104   NaN    81.0

In [42]:
pd.concat([adams_act, adams_breath], axis=1)

       Date  Act      Date  Breath
0  20230102   92  20230102      90
1  20230103   65  20230103      71
2  20230104   96  20230104      81

In [43]:
adams_act.index

RangeIndex(start=0, stop=3, step=1)

In [44]:
new_pd = pd.concat([adams_act, adams_breath], axis=1)
new_pd

       Date  Act      Date  Breath
0  20230102   92  20230102      90
1  20230103   65  20230103      71
2  20230104   96  20230104      81

In [45]:
# 중복 열 제거
new_pd.loc[:,~new_pd.columns.duplicated()]

       Date  Act  Breath
0  20230102   92      90
1  20230103   65      71
2  20230104   96      81

In [78]:
# pd.concat([adams_act, adams_breath])
# pd.concat([adams_act, adams_breath], ignore_index=False)
pd.concat([adams_act, adams_breath], sort=True)

    Act  Breath      Date
0  92.0     NaN  20230102
1  65.0     NaN  20230103
2  96.0     NaN  20230104
0   NaN    90.0  20230102
1   NaN    71.0  20230103
2   NaN    81.0  20230104

In [79]:
pd.concat([adams_act, adams_breath], ignore_index=True)

       Date   Act  Breath
0  20230102  92.0     NaN
1  20230103  65.0     NaN
2  20230104  96.0     NaN
3  20230102   NaN    90.0
4  20230103   NaN    71.0
5  20230104   NaN    81.0

In [80]:
pd.concat([adams_act, adams_breath], ignore_index=True).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    6 non-null      object
 1   Act     3 non-null      float64
 2   Breath  3 non-null      float64
dtypes: float64(2), object(1)
memory usage: 272.0+ bytes

In [81]:
pd.concat([adams_act, adams_breath], verify_integrity=False)

       Date   Act  Breath
0  20230102  92.0     NaN
1  20230103  65.0     NaN
2  20230104  96.0     NaN
0  20230102   NaN    90.0
1  20230103   NaN    71.0
2  20230104   NaN    81.0

In [82]:
pd.concat([adams_act, adams_breath], verify_integrity=True)

ValueError: Indexes have overlapping values: Int64Index([0, 1, 2], dtype='int64')

In [50]:
adams_act.index

RangeIndex(start=0, stop=3, step=1)

In [51]:
pd.concat([adams_act, adams_breath], keys=['level1', 'level2'])

              Date   Act  Breath
level1 0  20230102  92.0     NaN
       1  20230103  65.0     NaN
       2  20230104  96.0     NaN
level2 0  20230102   NaN    90.0
       1  20230103   NaN    71.0
       2  20230104   NaN    81.0

In [52]:
pd.concat([adams_act, adams_breath])

       Date   Act  Breath
0  20230102  92.0     NaN
1  20230103  65.0     NaN
2  20230104  96.0     NaN
0  20230102   NaN    90.0
1  20230103   NaN    71.0
2  20230104   NaN    81.0

In [83]:
pd.concat([adams_act, adams_breath], keys=['level1', 'level2'], names=['name1', 'name2'])

                  Date   Act  Breath
name1  name2
level1 0      20230102  92.0     NaN
       1      20230103  65.0     NaN
       2      20230104  96.0     NaN
level2 0      20230102   NaN    90.0
       1      20230103   NaN    71.0
       2      20230104   NaN    81.0

In [54]:
pd.concat([adams_act, adams_breath], keys=['level1', 'level2'], levels=[['level1','level2']])

              Date   Act  Breath
level1 0  20230102  92.0     NaN
       1  20230103  65.0     NaN
       2  20230104  96.0     NaN
level2 0  20230102   NaN    90.0
       1  20230103   NaN    71.0
       2  20230104   NaN    81.0

In [55]:
pd.concat([adams_act, adams_breath], keys=['level1', 'level2'], levels=[['level1', 'level2']], names=['name1', 'name2'])

                  Date   Act  Breath
name1  name2
level1 0      20230102  92.0     NaN
       1      20230103  65.0     NaN
       2      20230104  96.0     NaN
level2 0      20230102   NaN    90.0
       1      20230103   NaN    71.0
       2      20230104   NaN    81.0

## 인덱스를 만들고, 인덱스 기준으로 병합하기

In [56]:

adams_act_with_idx = adams_act.set_index('Date')

In [57]:
adams_act_with_idx

          Act
Date
20230102   92
20230103   65
20230104   96

In [58]:
adams_breath_with_idx = adams_breath.set_index('Date')
adams_breath_with_idx

          Breath
Date
20230102      90
20230103      71
20230104      81

In [59]:
pd.concat([adams_act_with_idx, adams_breath_with_idx], axis=1)

          Act  Breath
Date
20230102   92      90
20230103   65      71
20230104   96      81

In [60]:
adams_breath.set_index('Date', inplace=True)
adams_breath

          Breath
Date
20230102      90
20230103      71
20230104      81

In [61]:
print(adams_act)
print(adams_breath)

       Date  Act
0  20230102   92
1  20230103   65
2  20230104   96
          Breath
Date
20230102      90
20230103      71
20230104      81

In [62]:
# df.append 메서드
print(adams_act)
print(adams_breath)
adams_act.append(adams_breath)

       Date  Act
0  20230102   92
1  20230103   65
2  20230104   96
          Breath
Date
20230102      90
20230103      71
20230104      81

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\2287893731.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  adams_act.append(adams_breath)

              Date   Act  Breath
0         20230102  92.0     NaN
1         20230103  65.0     NaN
2         20230104  96.0     NaN
20230102       NaN   NaN    90.0
20230103       NaN   NaN    71.0
20230104       NaN   NaN    81.0

In [63]:
adams_act

       Date  Act
0  20230102   92
1  20230103   65
2  20230104   96

In [64]:
adams_act.append(adams_breath)

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3023122094.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  adams_act.append(adams_breath)

              Date   Act  Breath
0         20230102  92.0     NaN
1         20230103  65.0     NaN
2         20230104  96.0     NaN
20230102       NaN   NaN    90.0
20230103       NaN   NaN    71.0
20230104       NaN   NaN    81.0

In [65]:
adams_act.append(adams_breath, verify_integrity=True)

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\981283906.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  adams_act.append(adams_breath, verify_integrity=True)

              Date   Act  Breath
0         20230102  92.0     NaN
1         20230103  65.0     NaN
2         20230104  96.0     NaN
20230102       NaN   NaN    90.0
20230103       NaN   NaN    71.0
20230104       NaN   NaN    81.0

In [66]:
adams_act.append(adams_breath, ignore_index=True)

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\1194231692.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  adams_act.append(adams_breath, ignore_index=True)

       Date   Act  Breath
0  20230102  92.0     NaN
1  20230103  65.0     NaN
2  20230104  96.0     NaN
3       NaN   NaN    90.0
4       NaN   NaN    71.0
5       NaN   NaN    81.0

In [67]:
adams_act.append(adams_breath, ignore_index=True).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
 1   Act     3 non-null      float64
 2   Breath  3 non-null      float64
dtypes: float64(2), object(1)
memory usage: 272.0+ bytes

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3278157907.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  adams_act.append(adams_breath, ignore_index=True).info()

In [75]:
adams_act.append(adams_breath, sort=True)

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3425388212.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  adams_act.append(adams_breath, sort=True)

           Act  Breath      Date
0         92.0     NaN  20230102
1         65.0     NaN  20230103
2         96.0     NaN  20230104
20230102   NaN    90.0       NaN
20230103   NaN    71.0       NaN
20230104   NaN    81.0       NaN

In [69]:
adams_act

       Date  Act
0  20230102   92
1  20230103   65
2  20230104   96

In [70]:
adams_act.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
 1   Act     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

# append와 concat의 성능 비교

In [71]:
# append와 concat의 성능 비교
import pandas as pd
import numpy as np
import timeit

EXE_CNT = 20

df = pd.DataFrame({
    "A": np.random.randint(0, 100, 1_000_000),
    "B": np.random.randint(0, 100, 1_000_000),
    "C": np.random.randint(0, 100, 1_000_000)
})

def create_df_append():
  df2 = df
  for i in range(EXE_CNT-1):
    df2 = df2.append(df)

  # print("append:" , len(df2))

def create_df_concat():
  df2 = pd.concat([df]*EXE_CNT)
  # print("concat:" , len(df2))

time1 = timeit.timeit(create_df_append, number=10)
time2 = timeit.timeit(create_df_concat, number=10)

print("Running time of append function: ", time1)
print("Running time of concat function: ", time2)

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)

append: 20000000

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)

append: 20000000

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)

append: 20000000

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)

append: 20000000

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)

append: 20000000

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)

append: 20000000

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)

append: 20000000

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)

append: 20000000

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)

append: 20000000

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)

append: 20000000
concat: 20000000
concat: 20000000
concat: 20000000
concat: 20000000
concat: 20000000
concat: 20000000
concat: 20000000
concat: 20000000
concat: 20000000
concat: 20000000
Running time of append function:  10.83754880000015
Running time of concat function:  1.005816800001412

In [72]:
%load_ext memory_profiler
%memit create_df_append()

The memory_profiler extension is already loaded. To reload it, use:
  %reload_ext memory_profiler

C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)
C:\Users\sunin\AppData\Local\Temp\ipykernel_28756\3034633070.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df)

append: 20000000
peak memory: 783.55 MiB, increment: 667.58 MiB

In [73]:
%memit create_df_concat()

concat: 20000000
peak memory: 115.98 MiB, increment: 0.00 MiB

In [74]:
#merge
adams_act.merge(adams_breath, left_on="Date", right_on="Date")

       Date  Act  Breath
0  20230102   92      90
1  20230103   65      71
2  20230104   96      81

## insert 메서드

In [22]:
import pandas as pd
import numpy as np

adams_act = pd.DataFrame(
                [
                  ['20230102', 92],
                  ['20230103', 65],
                  ['20230104', 96]
                ],
                   columns=['Date', 'Act'])

print(adams_act)

       Date  Act
0  20230102   92
1  20230103   65
2  20230104   96

In [13]:
adams_act.insert(0, "Date", [11, 12, 13], allow_duplicates=True)
adams_act

  Date      Date  Act
0   11  20230102   92
1   12  20230103   65
2   13  20230104   96

In [23]:
# 두번째 열에 [11, 12,13] 값의 “Date2” 열을 추가
adams_act.insert(1, "Date2", [11, 12, 13]  )
adams_act

       Date  Date2  Act
0  20230102     11   92
1  20230103     12   65
2  20230104     13   96

In [25]:
adams_act.insert(2, "Date2", [21, 22, 23]  )
adams_act

ValueError: cannot insert Date2, already exists

In [26]:
adams_act.insert(2, "Date2", [21, 22, 23], allow_duplicates=True )
adams_act

       Date  Date2  Date2  Act
0  20230102     11     21   92
1  20230103     12     22   65
2  20230104     13     23   96