In [1]:
import pandas as pd
import numpy as np


# multi_index = pd.MultiIndex.from_tuples(tuple_index)
# multi_index


# activities_val = np.array([80, 90, 95, 70,75, 72, 65, 82, 89], [81, 91, 96, 71,77, 74, 68, 85, 92])

tuple_index = \
  [('Adams', '20230102'), ('Adams', '20230103'), ('Adams', '20230104'),
  ('Moses', '20230102'),('Moses', '20230103'),('Moses', '20230104'),
  ('Miriam', '20230102'),('Miriam', '20230103'),('Miriam', '20230104')
  ]
multi_index = pd.MultiIndex.from_tuples(tuple_index, names=['FirstName', 'score'])
multi_index

MultiIndex([( 'Adams', '20230102'),
            ( 'Adams', '20230103'),
            ( 'Adams', '20230104'),
            ( 'Moses', '20230102'),
            ( 'Moses', '20230103'),
            ( 'Moses', '20230104'),
            ('Miriam', '20230102'),
            ('Miriam', '20230103'),
            ('Miriam', '20230104')],
           names=['FirstName', 'score'])

In [5]:
activities_val = np.array([80, 90, 95, 70,75, 72, 65, 82, 89])

print(len(multi_index))
print(len(activities_val))
multi_df = pd.DataFrame(data=activities_val, index=multi_index)
multi_df

9
9

                     0
FirstName score
Adams     20230102  80
          20230103  90
          20230104  95
Moses     20230102  70
          20230103  75
          20230104  72
Miriam    20230102  65
          20230103  82
          20230104  89

In [3]:
multi_index.shape

(9,)

In [4]:
activities_val.shape

(9,)