### 6.13.1. query메서드

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

pd.set_option('display.notebook_repr_html', False)

df = pd.read_csv('OTg6QzA_activities.csv')
df.shape #데이터 구조, 행열 크기 알아보기
df.head()

                 timestamp   X   Y   Z
0  2022-01-01 00:01:40.363  33  76  56
1  2022-01-01 00:01:42.961  34  87  56
2  2022-01-01 00:01:45.562  25  89  47
3  2022-01-01 00:01:48.163  11  70  50
4  2022-01-01 00:02:08.864  33  72  58

In [2]:
# X > 100 and Y > 100 and Z < 50 인 자료만 추출해 보자.
df[ (df['X'] > 100) & (df['Y'] > 100) & (df['Z'] < 50)]

                     timestamp    X    Y   Z
172    2022-01-01 05:39:21.184  112  453  27
174    2022-01-01 05:39:26.286  129  454  37
175    2022-01-01 05:39:28.883  102  440   1
180    2022-01-01 05:39:41.684  115  456  -6
294    2022-01-01 06:07:37.199  175  318  44
...                        ...  ...  ...  ..
52872  2022-01-22 14:04:35.255  104  237  46
56337  2022-01-25 08:47:26.385  112  228 -12
56347  2022-01-25 08:48:43.788  112  228 -12
58675  2022-01-28 18:43:55.864  123  126  19
64606  2022-01-30 08:29:23.876  105  250  40

[258 rows x 4 columns]

In [3]:
THRESHOLD_Y = 100
df.query('X > 100 and Y > @THRESHOLD_Y and Z < 50')

                     timestamp    X    Y   Z
172    2022-01-01 05:39:21.184  112  453  27
174    2022-01-01 05:39:26.286  129  454  37
175    2022-01-01 05:39:28.883  102  440   1
180    2022-01-01 05:39:41.684  115  456  -6
294    2022-01-01 06:07:37.199  175  318  44
...                        ...  ...  ...  ..
52872  2022-01-22 14:04:35.255  104  237  46
56337  2022-01-25 08:47:26.385  112  228 -12
56347  2022-01-25 08:48:43.788  112  228 -12
58675  2022-01-28 18:43:55.864  123  126  19
64606  2022-01-30 08:29:23.876  105  250  40

[258 rows x 4 columns]

### 6.13.2. eval메서드

In [4]:
df.eval(' X > 100 and Y > 100 and Z < 50')

0        False
1        False
2        False
3        False
4        False
         ...
66276    False
66277    False
66278    False
66279    False
66280    False
Length: 66281, dtype: bool

In [19]:
df.eval('FQ = (X > 100 and Y > 100)', inplace=True)

In [20]:
df.query('FQ == True')

                     timestamp    X    Y    Z    FQ   FQ2     X2    X^2
167    2022-01-01 05:18:16.419  112  349   69  True  True  12544  12544
170    2022-01-01 05:39:16.082  143  460   75  True  True  20449  20449
171    2022-01-01 05:39:18.682  123  400  134  True  True  15129  15129
172    2022-01-01 05:39:21.184  112  453   27  True  True  12544  12544
173    2022-01-01 05:39:23.782  106  409   92  True  True  11236  11236
...                        ...  ...  ...  ...   ...   ...    ...    ...
65199  2022-01-30 12:48:10.094  107  268   82  True  True  11449  11449
65207  2022-01-30 14:37:40.590  101  254   83  True  True  10201  10201
65228  2022-01-30 14:38:49.994  106  243   87  True  True  11236  11236
65333  2022-01-30 15:35:44.802  109  246   86  True  True  11881  11881
65879  2022-01-31 15:19:00.746  111  255   78  True  True  12321  12321

[2109 rows x 8 columns]

In [31]:
df[ (df['X'] > 100) & (df['Y'] > 100) ]

                     timestamp    X    Y    Z    FQ   FQ2     X2    X^2
167    2022-01-01 05:18:16.419  112  349   69  True  True  12544  12544
170    2022-01-01 05:39:16.082  143  460   75  True  True  20449  20449
171    2022-01-01 05:39:18.682  123  400  134  True  True  15129  15129
172    2022-01-01 05:39:21.184  112  453   27  True  True  12544  12544
173    2022-01-01 05:39:23.782  106  409   92  True  True  11236  11236
...                        ...  ...  ...  ...   ...   ...    ...    ...
65199  2022-01-30 12:48:10.094  107  268   82  True  True  11449  11449
65207  2022-01-30 14:37:40.590  101  254   83  True  True  10201  10201
65228  2022-01-30 14:38:49.994  106  243   87  True  True  11236  11236
65333  2022-01-30 15:35:44.802  109  246   86  True  True  11881  11881
65879  2022-01-31 15:19:00.746  111  255   78  True  True  12321  12321

[2109 rows x 8 columns]

In [32]:
df.eval('X2 = X ** 2', inplace=True)
df

                     timestamp   X    Y    Z     FQ    FQ2    X2   X^2
0      2022-01-01 00:01:40.363  33   76   56  False  False  1089  1089
1      2022-01-01 00:01:42.961  34   87   56  False  False  1156  1156
2      2022-01-01 00:01:45.562  25   89   47  False  False   625   625
3      2022-01-01 00:01:48.163  11   70   50  False  False   121   121
4      2022-01-01 00:02:08.864  33   72   58  False  False  1089  1089
...                        ...  ..  ...  ...    ...    ...   ...   ...
66276  2022-01-31 23:28:00.481 -91  143  136  False  False  8281  8281
66277  2022-01-31 23:28:41.683 -89  145  138  False  False  7921  7921
66278  2022-01-31 23:28:49.383 -93  138  137  False  False  8649  8649
66279  2022-01-31 23:32:36.426 -93  131  137  False  False  8649  8649
66280  2022-01-31 23:32:44.126 -91  129  138  False  False  8281  8281

[66281 rows x 8 columns]

In [33]:
df['X^2'] = df['X'] ** 2
df

                     timestamp   X    Y    Z     FQ    FQ2    X2   X^2
0      2022-01-01 00:01:40.363  33   76   56  False  False  1089  1089
1      2022-01-01 00:01:42.961  34   87   56  False  False  1156  1156
2      2022-01-01 00:01:45.562  25   89   47  False  False   625   625
3      2022-01-01 00:01:48.163  11   70   50  False  False   121   121
4      2022-01-01 00:02:08.864  33   72   58  False  False  1089  1089
...                        ...  ..  ...  ...    ...    ...   ...   ...
66276  2022-01-31 23:28:00.481 -91  143  136  False  False  8281  8281
66277  2022-01-31 23:28:41.683 -89  145  138  False  False  7921  7921
66278  2022-01-31 23:28:49.383 -93  138  137  False  False  8649  8649
66279  2022-01-31 23:32:36.426 -93  131  137  False  False  8649  8649
66280  2022-01-31 23:32:44.126 -91  129  138  False  False  8281  8281

[66281 rows x 8 columns]