In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame, Index

s = pd.Series(np.random.rand(10))
s

0    0.167563
1    0.709672
2    0.747780
3    0.943318
4    0.458409
5    0.109692
6    0.150424
7    0.436073
8    0.785899
9    0.238616
dtype: float64

In [2]:
s.index

RangeIndex(start=0, stop=10, step=1)

In [3]:
s.values

array([0.16756337, 0.70967169, 0.74778013, 0.94331825, 0.45840891,
       0.10969165, 0.15042423, 0.43607257, 0.78589855, 0.23861584])

In [4]:
s[0]

0.16756337037852753

In [5]:
s[1:3]

1    0.709672
2    0.747780
dtype: float64

In [6]:
named = pd.Series(np.random.rand(5), index=['a', 'b', 'c', 'd', 'e'])
named

a    0.863471
b    0.025866
c    0.779293
d    0.991705
e    0.704188
dtype: float64

In [7]:
named['a']

0.8634713116876008

In [8]:
named['a'] = 0.11111

In [9]:
named

a    0.111110
b    0.025866
c    0.779293
d    0.991705
e    0.704188
dtype: float64

In [10]:
named.items()

In [11]:
list(named.items())

[('a', 0.11111),
 ('b', 0.02586580593906751),
 ('c', 0.7792926715441916),
 ('d', 0.9917054544385291),
 ('e', 0.7041883444016587)]

In [12]:
# masking
named[ named > 0.5]

c    0.779293
d    0.991705
e    0.704188
dtype: float64

In [13]:
named * 3

a    0.333330
b    0.077597
c    2.337878
d    2.975116
e    2.112565
dtype: float64

In [14]:
named1 = pd.Series(np.arange(0,5,1), index=['a', 'b', 'c', 'd', 'e'])
named2 = pd.Series(np.arange(0,10,2), index=['b', 'a', 'c', 'd', 'e'])

In [15]:
named1

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [16]:
named2

b    0
a    2
c    4
d    6
e    8
dtype: int32

In [17]:
named1 + named2

a     2
b     1
c     6
d     9
e    12
dtype: int32

In [18]:
'a' in named

True

In [19]:
'z' in named

False

In [20]:
d1 = {'A': 10, 'B': 20, 'C': 30}
s1 = pd.Series(d1)
s1

A    10
B    20
C    30
dtype: int64

In [21]:
s1['A']

10

In [22]:
# 명시적 인덱스로 슬라이싱
s1['A':'B']

A    10
B    20
dtype: int64

In [23]:
# 암묵적 인덱스로 슬라이싱
s1[0:1]

A    10
dtype: int64

In [24]:
# 팬시 인덱싱
s1[['A','C']]

A    10
C    30
dtype: int64

In [25]:
s1['C'] = 40
s1

A    10
B    20
C    40
dtype: int64

# 암묵적 인덱싱, 명시적 인덱싱

In [26]:
s2 = pd.Series(np.random.rand(5), index=[3,4,5,6,7])
s2

3    0.052138
4    0.506374
5    0.451434
6    0.783016
7    0.848864
dtype: float64

In [27]:
s2[4]

0.5063740469160746

In [28]:
# 암묵적 인덱싱, 4번째 요소에 접근
s2.iloc[3]

0.7830157809400685

In [29]:
# 명시적 인덱싱, 색인값이 3인 요소에 접근
s2.loc[3]

0.05213807141560556

In [40]:
s1

A    10
B    20
C    40
dtype: int64

In [39]:
s1.loc['C']

40

In [31]:
s1.iloc[2]

40

In [32]:
s1['C']

40

named2

In [33]:
named2

b    0
a    2
c    4
d    6
e    8
dtype: int32

In [34]:
named2.name = 'named2'

In [35]:
named2

b    0
a    2
c    4
d    6
e    8
Name: named2, dtype: int32

In [36]:
named2.index

Index(['b', 'a', 'c', 'd', 'e'], dtype='object')

In [37]:
named2.index.name = 'label'
named2

label
b    0
a    2
c    4
d    6
e    8
Name: named2, dtype: int32

In [38]:
named2.index = ['AA', 'BB', 'CC', 'DD', 'EE']
named2

AA    0
BB    2
CC    4
DD    6
EE    8
Name: named2, dtype: int32

In [42]:
pd.DataFrame(np.random.randint(0, 10, 10).reshape(5,2))

   0  1
0  2  6
1  9  5
2  6  7
3  2  9
4  5  4

In [43]:
pd.DataFrame(np.random.randint(0, 10, 10).reshape(5,2)).index

RangeIndex(start=0, stop=5, step=1)

In [44]:
pd.DataFrame(np.random.randint(0, 10, 10).reshape(5,2)).columns

RangeIndex(start=0, stop=2, step=1)