In [ ]:
import pandas as pd

s = pd.Series(['tokyo', 'osaka', 'yamagata'])
s.str.extract(r'([to]+)')

In [ ]:
import pandas as pd

s = pd.Series(['tokyo', 'osaka', 'yamagata'])
s.str.match('[a-z]')

In [ ]:
s = pd.Series(['tokyo2', 'osaka@', '1yamagata'])
s.str.match('[0-9]')

In [ ]:
# 아래와 같이, sum()함수로 매칭된 수를 구할 수도 있다.
s = pd.Series(['tokyo', 'osaka', '1yamagata'])
s.str.match('^[oa]').sum()

In [1]:
import pandas as pd
s = pd.Series(['tokyo', 'osaka', 'yamagata'])
s.str.extract(r'([to]+)')

    0
0  to
1   o
2   t

In [2]:
s = pd.Series(['tokyo', 'osaka', '1yamagata'])
s.str.findall('ga')

0      []
1      []
2    [ga]
dtype: object

In [3]:
s = pd.Series(['tokyo', 'osaka', '1yamagata'])
s.str.findall(r'^[a-z]+')

0    [tokyo]
1    [osaka]
2         []
dtype: object