In [5]:
import pandas as pd
import numpy as np
from datetime import  date


td1= pd.to_datetime('2023-01-02 01:01:10')
td2= pd.to_datetime('2023-01-03 01:10:20')

In [8]:
t_delta = td2-td1

In [9]:
t_delta

Timedelta('1 days 00:09:10')

In [10]:
print(t_delta)

1 days 00:09:10

In [17]:
date_series1 = pd.to_datetime(pd.Series(['2022-07-21 01:01:10', '2022-07-22 01:01:10', '2022-08-21 01:01:10']))
date_series2 = pd.to_datetime(pd.Series(['2022-07-22 01:02:10', '2022-07-24 01:03:10', '2022-08-26 01:04:10']))


date_delta = date_series2 - date_series1
date_delta

0   1 days 00:01:00
1   2 days 00:02:00
2   5 days 00:03:00
dtype: timedelta64[ns]

In [18]:
date_delta.dtypes

dtype('<m8[ns]')

In [19]:
date_series2.dtype

dtype('<M8[ns]')

In [21]:
np.dtype('<M8[ns]') == np.dtype('datetime64[ns]')

False

In [22]:
np.dtype('<m8[ns]') == np.dtype('timedelta64[ns]')

True

In [27]:
str1 = pd.Series(["11", "22", "33", "44"])

str1.dtypes

object

In [28]:
print(str1.dtypes)

object

In [26]:
str1.astype(int)

0    11
1    22
2    33
3    44
dtype: int32

In [30]:
pd.to_numeric(str1)

0    11
1    22
2    33
3    44
dtype: int64

In [29]:
pd.dtype

AttributeError: module 'pandas' has no attribute 'dtype'