In [52]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame( {"col1": [np.nan, np.nan, 1], 'col2': [np.nan, 11, 12]} )
df2 = pd.DataFrame( {"col1": [21, 22, 23], 'col2': [np.nan, 31, 32]} )


print(df1)
print(df2)

   col1  col2
0   NaN   NaN
1   NaN  11.0
2   1.0  12.0
   col1  col2
0    21   NaN
1    22  31.0
2    23  32.0

In [51]:
df1.update(df2)
df1

   col1  col2
0  21.0   NaN
1  22.0  31.0
2  23.0  32.0

In [53]:
df1.update(df2, overwrite=False)
df1

   col1  col2
0  21.0   NaN
1  22.0  11.0
2   1.0  12.0

In [54]:
df1 = pd.DataFrame( {"col1": [np.nan, np.nan, 1], 'col2': [np.nan, 11, 12]} )
df2 = pd.DataFrame( {"col1": [21, 22, 23], 'col2': [np.nan, 31, 32]} )

df1.update(df2, filter_func=lambda x: x < 12)
df1

   col1  col2
0   NaN   NaN
1   NaN  31.0
2  23.0  12.0

In [42]:
df1 = pd.DataFrame( {"col1": [np.nan, np.nan, 1], 'col2': [np.nan, np.nan, 12]} )
df2 = pd.DataFrame( {"col1": [21, 22, np.nan], 'col2': [np.nan, 31, 32]} )
df1.update(df2, errors="raise")

ValueError: Data overlaps.

In [41]:
df1 = pd.DataFrame( {"col1": [np.nan, np.nan, 1], 'col2': [np.nan,  np.nan, 12]} )
df2 = pd.DataFrame( {"col1": [21, 22, np.nan], 'col2': [np.nan, 31, np.nan]} )
df1.update(df2, errors="raise")
df1

   col1  col2
0  21.0   NaN
1  22.0  31.0
2   1.0  12.0