## 7.2. 데이터 수집하기

In [1]:
import pandas as pd
act = pd.read_json('MDA_act_10min.json')
act.shape # 데이터 구조, 행열 크기 알아보기

(4327, 8)

In [2]:
act.head()

,activity_key,avg_presence,avg_people_cnt,avg_activity,max_activity,cnt,first_eventtime,lastStatus
0,2769930,0,0,0.0,0.0,0,,
1,2769931,0,0,0.0,0.0,0,,
2,2769932,0,0,0.0,0.0,0,,
3,2769933,0,0,0.0,0.0,0,,
4,2769934,0,0,0.0,0.0,0,,

In [3]:
# CSV 파일로 저장하기
act.to_csv('csv_test.csv')

In [4]:
# CSV 파일로 불러오기
df = pd.read_csv('csv_test.csv')
df.head()

,Unnamed: 0,activity_key,avg_presence,avg_people_cnt,avg_activity,max_activity,cnt,first_eventtime,lastStatus
0,0,2769930,0,0,0.0,0.0,0,NaN,NaN
1,1,2769931,0,0,0.0,0.0,0,NaN,NaN
2,2,2769932,0,0,0.0,0.0,0,NaN,NaN
3,3,2769933,0,0,0.0,0.0,0,NaN,NaN
4,4,2769934,0,0,0.0,0.0,0,NaN,NaN